<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>The Linux Kernel Compile</title>
    <link href="{% static 'compilekernel/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'compilekernel/js/jquery.js' %}" ></script>
    <script src="{% static 'compilekernel/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}" ></script>
    <link href="{% static 'compilekernel/css/index.css' %}" rel="stylesheet" />
</head>
<body style="background-color: #F0EDE3;">
    <!--导航栏-->
    <div  class="row">
        <div class="col-md-8 col-md-offset-2" style="padding-left: 0px; padding-right: 0px;" >
            <nav class=" navbar navbar-default" style="box-shadow: 0px 5px 10px #888888; background-color: #FFFFFF; padding-top: 20px; padding-bottom: 10px;">
                <div class="container-fluid" >
                    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <h1 style=" text-shadow: 3px 3px 0 #F8F4EE; text-align: center; color: #2C1D00; font-family: oswald,helvetica,sans-serif !important;font-size: 3em;font-weight: bold;" >The Linux Kernel Compile</h1>
                        <ul class="nav navbar-nav" style="float: none !important;">
                            <li><a href="index">Compile <span class="sr-only"></span></a></li>
                            <li><a href="#">Changelog</a></li>
                            <li style="float: right !important;">
                                <div class="btn-group " style="margin-top: 15px;">
                                  <a type="button" style="background-color: #ffffff;" class="" id="user_name" value="{{ request.session.user }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   {{ request.session.user }} <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a href="compile_record?user={{ request.session.user }}">编译记录</a></li>
                                    <li><a href="compile_record_all">编译完成的包</a></li>
                                    <li><a href="exit_login">退出登录</a></li>
                                  </ul>
                               </div>
                            </li>
                           <li style="float: right !important; margin-right: 20px;">
                                <div class="btn-group " style="margin-top: 15px;">
                                  <a type="button" id="user_compiling" style=" display: none; background-color: #ffffff;" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   正在编译的用户 <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a href="#" id="x86_compiling" style="display: none;">xxx:正在编译x86</a></li>
                                    <li><a href="#" id="arm_compiling" style="display: none;">xxx:正在编译arm</a></li>
                                    <li><a href="#" id="mips_compiling" style="display: none;">xxx:正在编译mips</a></li>
                                  </ul>
                               </div>
                            </li>
                            <li style="float: right !important; margin-right: 0px;">
                                <a href=""  style="display: none;" id="compiling_state_x86">状态：正在编译x86</a>
                            </li>
                            <li style="float: right !important; margin-right: 0px;">
                                <a href=""  style="display: none;" id="compiling_state_arm">状态：正在编译arm</a>
                            </li>
                            <li style="float: right !important; margin-right: 0px;">
                                <a href=""  style="display: none;" id="compiling_state_mips">状态：正在编译mips</a>
                            </li>
                         <!--   <li style="float: right !important; margin-right: 20px;">
                                <a href="#"  style="display: none;" id="compiling_state">状态：正在编译</a>
                            </li> -->
                        </ul>
                    </div>
                </div>
                -

            </nav>
        </div>
    </div>
    <!--操作界面-->
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-8 col-md-offset-2" style="padding-bottom: 500px; border-top-right-radius: 8px; border-top-left-radius: 8px; box-shadow: 0px -2px 15px #888888; background-color: #FFFFFF; ">
        <div style="margin-left: 40px; margin-top: 20px;">
            {% for record in records %}
                <table class="table" style="margin-left: 40px; border-radius: 3px; display: inline-block; background-color: #e2e2e2; width: 400px;">
                    <tr>
                        <td width="90px;">主线版本:</td>
                        <td width="300px;">{{ record.4 }}</td>
                    </tr>
                    <tr>
                        <td width="50px;">应用架构:</td>
                        <td width="150px;">{{ record.5 }}</td>
                    </tr>
                    <tr>
                        <td width="50px;">个性版本:</td>
                        <td width="150px;">{{ record.6 }}</td>
                    </tr>
                    <tr>
                        <td width="50px;">分支:</td>
                        <td width="150px;">{{ record.7 }}</td>
                    </tr>
                    <tr>
                        <td width="50px;">编译时间:</td>
                        <td width="150px;">{{ record.8 }}</td>
                    </tr>
                    <tr>
                        <td width="50px;">下载链接:</td>
                        <td width="150px;"><a href="ftp://{{ record.9 }}/robot/{{ record.8 }}/{{ record.3 }}">{{ record.3 }}</a></td>
                    </tr>
                    <tr>
                        <td width="50px;">日志:</td>
                        <td width="150px;"><a href="ftp://{{ record.9 }}/robot/{{ record.8 }}/build.log">build.log</a></td>
                    </tr>
                </table>
            {% endfor %}
        </div>
        </div>
    </div>
</body>
<script>
$(document).ready(function(){



});

//刷新页面后，会去获取当前正在编译的用户,并且将相关信息记录在a标签中
window.onload=function(){

    //Displays the current state of user , such as compile , queue
    $.ajax({
       url:"user_state",
       type:"GET",
       dataType:"json",
       data:{"username":$("#user_name").attr("value")},
       success:function(data){
           if(data.compile_cpus!=null){
               $.each(data.compile_cpus,function(infoIndex,info){
                   $("#compiling_state_"+info).show(100)
                   $("#compiling_state_"+info).attr("href","compile_page?cpus="+info)
               });
           }
       }
    });



    //显示三台机器是否有人正在编译
    $.ajax({
        url:"is_user_compile",
        type:"GET",
        dataType:"json",
        success:function(data){
            console.log($.isEmptyObject(data.x86_compiling_message))
            if(!$.isEmptyObject(data.x86_compiling_message)) {
                $("#user_compiling").show(200)
                $("#x86_compiling").attr("user",data.x86_compiling_message.user)
                $("#x86_compiling").text(data.x86_compiling_message.user+":正在编译x86")
                $("#x86_compiling").show(100)
            }
            if(!$.isEmptyObject(data.arm_compiling_message)){
                $("#user_compiling").show(200)
                $("#arm_compiling").attr("user",data.arm_compiling_message.user)
                $("#arm_compiling").text(data.arm_compiling_message.user+":正在编译arm")
                $("#arm_compiling").show(100)
            }
            if(!$.isEmptyObject(data.mips_compiling_message)){
                $("#user_compiling").show(200)
                $("#mips_compiling").attr("user",data.mips_compiling_message.user)
                $("#mips_compiling").text(data.mips_compiling_message.user+":正在编译mips")
                $("#mips_compiling").show(100)
            }
        }
    });
}

</script>
</html>