<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>The Linux Kernel Compile</title>
    <link href="{% static 'compilekernel/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'compilekernel/js/jquery.js' %}" ></script>
    <script src="{% static 'compilekernel/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}" ></script>
    <link href="{% static 'compilekernel/css/index.css' %}" rel="stylesheet" />
</head>
<body style="background-color: #F0EDE3;">
    <!--导航栏-->
    <div  class="row">
        <div class="col-md-8 col-md-offset-2" style="padding-left: 0px; padding-right: 0px;" >
            <nav class="navbar navbar-default" style="box-shadow: 0px 5px 10px #888888; background-color: #FFFFFF; padding-top: 20px; padding-bottom: 10px;">
                <div class="container-fluid" >
                    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <h1 style=" text-shadow: 3px 3px 0 #F8F4EE; text-align: center; color: #2C1D00; font-family: oswald,helvetica,sans-serif !important;font-size: 3em;font-weight: bold;" >The Linux Kernel Compile</h1>
                        <ul class="nav navbar-nav" style="float: none !important;">
                            <li><a href="index">Compile <span class="sr-only"></span></a></li>
                            <li><a href="#">Changelog</a></li>
                            <li style="float: right !important;">
                                <div class="btn-group " style="margin-top: 15px;">
                                  <a type="button" style="background-color: #ffffff;" id="user_name" value="{{ request.session.user }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   {{ request.session.user }} <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a href="compile_record?user={{ request.session.user }}">编译记录</a></li>
                                    <li><a href="compile_record_all">编译完成的包</a></li>
                                    <li><a href="exit_login">退出登录</a></li>
                                  </ul>
                               </div>
                            </li>
                            <li style="float: right !important; margin-right: 20px;">
                                <div class="btn-group " style="margin-top: 15px;">
                                  <a type="button" id="user_compiling" style="display: none; background-color: #ffffff;" class="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   正在编译的用户 <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu">
                                    <li><a href="#" id="x86_compiling" style="display: none;">xxx:正在编译x86</a></li>
                                    <li><a href="#" id="arm_compiling" style="display: none;">xxx:正在编译arm</a></li>
                                    <li><a href="#" id="mips_compiling" style="display: none;">xxx:正在编译mips</a></li>
                                  </ul>
                               </div>
                            </li>
                            <li style="float: right !important; margin-right: 0px;">
                                <a href=""  style="display: none;" id="compiling_state_x86">状态：正在编译x86</a>
                            </li>
                            <li style="float: right !important; margin-right: 0px;">
                                <a href=""  style="display: none;" id="compiling_state_arm">状态：正在编译arm</a>
                            </li>
                            <li style="float: right !important; margin-right: 0px;">
                                <a href=""  style="display: none;" id="compiling_state_mips">状态：正在编译mips</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!--操作界面-->
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-8 col-md-offset-2" style="padding-bottom: 500px; border-top-right-radius: 8px; border-top-left-radius: 8px; box-shadow: 0px -2px 15px #888888; background-color: #FFFFFF; ">
            <!--选择CPU架构，分支，版本-->
            <div style="margin-left: 25px; margin-top: 30px;" >
                <h1 class="h1_title">请选择需要编译的内核</h1>
                <!--选择CPU架构-->
                <div id="cpus" class="btn-group"  style="margin-top: 17px;">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        选择CPU架构 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">x86</a></li>
                        <li><a href="#">arm</a></li>
                        <li><a href="#">mips</a></li>
                    </ul>
                </div>
                <!--选择版本-->
                <div id="version" class="btn-group" style="margin-top: 17px; display: none; margin-left: 30px;">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        选择版本 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <!--<li><a href="#">Action</a></li>-->
                    </ul>
                </div>
                <!--选择分支-->
                <div id="branch" class="btn-group" style="margin-top: 17px; display: none; margin-left: 30px;">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        选择分支 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <%--<li><a href="#">Action</a></li>--%>
                    </ul>
                </div>
            </div>

            <!--选择文件-->
            <div id="file_list" style="display: none; margin-left: 25px; margin-top: 30px;">
                <h1 class="h1_title">请选择所需要的配置文件</h1>
                   <%--<label class="checkbox-inline">
                       <input type="checkbox"  value="1"> 1
                   </label>--%>
                <input class="btn btn-primary" id="file_select_btn" value="确定" style=" margin-left: 810px; background-color:#249aff; border: none; width: 130px; height: 40px;"/>
            </div>

            <!--列出配置信息-->
            <div id="setting_message" style="display: none; margin-left: 25px; margin-top: 30px;">
                <h1 class="h1_title" style="display: inline-block;">所选择的配置信息如下</h1> <input class="btn btn-primary" value="开始编译" id="start_compile_btn" style="margin-left: 30px; background-color:#249aff; border: none; width: 130px; height: 40px;"/>
                <input class="btn btn-primary" value="停止编译" id="stop_compile_btn" style=" display:none;margin-left: 30px; background-color:#ff3434; border: none; width: 130px; height: 40px;"/>
                <table class="table " style="border-radius: 3px; background-color: #e2e2e2; width: 300px; margin-top: 10px;">
                </table>
            </div>

            <!--日志信息-->
            <div id="log_message" style=" display: none; margin-top: 20px; margin-left: 25px;">
                <h1 class="h1_title">日志信息如下所示</h1>
                <textarea id="my" rows="15" cols="100" placeholder="一大波日志即将到来" style="background-color: #efefef; border-radius: 5px;" >
                    一大波日志即将到来.......
                </textarea>
            </div>

            <div id="download_file" style="display: none; margin-top: 20px; margin-left: 25px;">
                <h1 class="h1_title">下载链接</h1>
                <!--下载-->
                <a href="#"  id="down_kernel" style="color: #249aff; font-size: 16px; font-weight: bold; margin-top: 10px;">download kernel</a>
                <a href="#" id="download_log" style="color: #249aff; font-size: 16px; font-weight: bold; margin-top: 10px; margin-left: 20px;">download build.log</a>
            </div>

        </div>
    </div>
</body>
<script>
$(document).ready(function(){


    /*点击cpu*/
    $("#cpus a").click(function(){
         var a_text = $(this).text();
         $(this).parent().parent().prev().empty();
         $(this).parent().parent().prev().append(a_text).append("<span class='caret'></span>");
         $("#cpus button").attr("value",a_text);
         //清空version下面的选项，并且重新加上
         $("#version ul").empty();
         $.getJSON("{% static 'compilekernel/json/index.json' %}",function(data){
             $.each(data["version"][a_text],function (infoIndex,info) {
                    var li_label = $("<li></li>").append("<a href='#'>"+info+"</a>");
                    $("#version ul").append(li_label);
             });
         });
         //重新更新版本和分支
        $("#version button").empty().append("选择版本").append("<span class='caret'></span>");
        $("#branch button").empty().append("选择分支").append("<span class='caret' ></span>");
        //显示版本隐藏分支
        $("#version").show(200);
        $("#branch").hide(200);
        $("#file_list").hide(200);
        $("#setting_message").hide(200);
        $("#log_message").hide(200);
    });

    /*选择版本*/
    $("#version").on("click","a",function(){
        var a_text=$(this).text();
        $(this).parent().parent().prev().empty();
        $(this).parent().parent().prev().append(a_text).append("<span class='caret'></span>");
        $("#version button").attr("value",a_text);
        //清空branch下面的选项，并且重新加上
        $("#branch ul").empty();
        $.getJSON("{% static 'compilekernel/json/index.json' %}",function(data){
            $.each(data["branch"][a_text],function (infoIndex,info) {
                var li_label = $("<li></li>").append("<a href='#'>"+info+"</a>");
                $("#branch ul").append(li_label);
            });
        });

        //重新选择分支
        $("#branch button").empty().append("选择分支").append("<span class='caret' ></span>");
        //显示分支
        $("#branch").show(200);
        $("#file_list").hide(200);
        $("#setting_message").hide(200);
        $("#log_message").hide(200);

    });

    /*选择分支*/
    $("#branch").on("click","a",function(){
       var a_text=$(this).text();
        $(this).parent().parent().prev().empty();
        $(this).parent().parent().prev().append(a_text).append("<span class='caret'></span>");
        $("#branch button").attr("value",a_text);
        $("#file_list").show(200);
        $("#setting_message").hide(200);
        $("#log_message").hide(200);

        //发送.
        // 请求，列出配置文件的信息
        var cpus = $("#cpus button").attr("value");
        var branch = $("#branch button").attr("value");

        $("#file_list").empty();
        $("#file_list").append("<h1 class='h1_title'>请选择所需要的配置文件</h1>");
        $("#file_list").append("<table></table>");
        $.ajax({
            url:"filelist",
            data:{cpus:cpus,branch:branch},
            type:"GET",
            dataType:"json",
            success:function(data){
                var tr_label=$("<tr></tr>")
                var fileList = data.filelist
                $.each(data.filelist,function(infoIndex,info){
                    var td_label=$("<td width='20%'></td>")
                    var label_label = $("<label class='checkbox-inline'></label>").append("<input type='checkbox' value="+info+"/>").append(info);
                    td_label.append(label_label)
                    if(infoIndex%5==0 && infoIndex!=0){
                        $("#file_list table").append(tr_label)
                        tr_label = $("<tr></tr>")
                    }
                    tr_label.append(td_label)
                    //$("#file_list").append(label_label);
                });
                $("#file_list table").append(tr_label)
                $("#file_list").append("<input class=\"btn btn-primary\" id=\"file_select_btn\" value=\"确定\" style=\"margin-left: 810px; background-color:#249aff; border: none; width: 130px; height: 40px;\"/>");
            }
        });
    });

    /*点击确定按钮，列出配置信息*/
    $("#file_list").on("click","#file_select_btn",function(){

        $("#setting_message table").empty();

        var cpus=$("#cpus button").attr("value");
        var version=$("#version button").attr("value");
        var branch=$("#branch button").attr("value");

        var cpus_label = $("<tr></tr>").append($("<td width='100px;'>CPU架构</td>")).append($("<td width='200px;'>"+cpus+"</td>"));
        $("#setting_message table").append(cpus_label);
        var version_label = $("<tr></tr>").append($("<td width='100px;'>版本</td>")).append($("<td width='200px;'>"+version+"</td>"));
        $("#setting_message table").append(version_label);
        var branch_label = $("<tr></tr>").append($("<td width='100px;'>分支</td>")).append($("<td width='200px;'>"+branch+"</td>"));
        $("#setting_message table").append(branch_label);

        var file="";
        $.each($('input[type=checkbox]:checked'),function(){
            file+=$(this).val()+"     ";
        });
        var file_label = $("<tr></tr>").append($("<td width='100px;'>配置文件</td>")).append($("<td width='200px;'>"+file+"</td>"));

        $("#setting_message table").append(file_label);

        $("#setting_message").show(200);
        $("#log_message").hide(200);

    });


    //是否还在编译
    var isCompile = true

    //点击开始编译的按钮
    $("#start_compile_btn").click(function(){
        //Judge if angone is compiling and if you need to wait
        var cpus=$("#cpus button").attr("value");
        var flag_wait = false;
        $.ajax({
            async:false,
            url:"judge_compile",
            data:{"cpus":cpus},
            type:"GET",
            dataType:"json",
            success:function(data){
                if(data.wait==1){
                    alert(data.compiling_message.user+"正在编译"+data.compiling_message.cpus+",请等候")
                    flag_wait=true;
                }
            }
        })
        if(flag_wait)      //有人正在编译，需要等待
            return false;

        //clear log information
        $("#log_message textarea").text("");
        $("#log_message").show(200);
        var file ="";
        $.each($('input[type=checkbox]:checked'),function(){
           file+=$(this).val()+" ";
        });
        //除了停止编译按钮，其余的都禁用掉
        disableBtn();
        //The compile state of the current user
        $("#compiling_state_"+cpus).show(100)
        $("#compiling_state_"+cpus).attr("href","compile_page?cpus="+cpus)
        //增加 user:正在编译xxx
        var username = $("#user_name").attr("value")
        if(cpus=="x86") {
            $("#user_compiling").show(200)
            $("#x86_compiling").text(username + ":正在编译x86")
            $("#x86_compiling").show(100)
        }else if(cpus=="arm"){
            $("#user_compiling").show(200)
            $("#arm_compiling").text(username+":正在编译arm")
            $("#arm_compiling").show(100)
        }else if(cpus=="mips"){
            $("#user_compiling").show(200)
            $("#mips_compiling").text(username+":正在编译mips")
            $("#mips_compiling").show(100)
        }


        /*=============================================拉取日志=============================================== */
        //初始行号
        var nu = 0
        isCompile=true
        var obj = document.getElementById("my");
        var username=$("#user_name").attr("value")
        //实时拉取日志
        function pulllog() {
            if(!isCompile)
                return;
            $.ajax({
                url: "pulllog",
                data: {"nu":nu,"cpus":cpus,"username":username},
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $.each(data.log, function (infoIndex, info) {
                        obj.scrollTop = obj.scrollHeight
                        $("#log_message textarea").append(info + "\n");
                    });
                    nu = data.nu;
               //如果只有一个进程，表示编译结束。（这一个进程为 grep）  后一个条件是防止编译进程还没启动就终止日志打印了
               //   if(data.build_process_number < 4 && data.build_log_nu > 100){
               //     isCompile=false
               //    }
                }
            });
            setTimeout(pulllog,1000)
        }

//        pulllog()

        $("#download_file").hide(200)
        //编译内核
        var cpus=$("#cpus button").attr("value");
        var version=$("#version button").attr("value");
        var branch=$("#branch button").attr("value");
        var file="";
        $.each($('input[type=checkbox]:checked'),function(){
            file+=$(this).val()+"     ";
        });
        $.ajax({
            url:"compile",
            data:{cpus:cpus,file:file,branch:branch,version:version},
            type: "GET",
            dataType: "json",
            success:function(data){
                if(data.success==1){
                   isCompile=false
                   file = data.file_path.toString().split("ftpdata")[1]
                   $("#down_kernel").text(data.file_name);
                   $("#down_kernel").attr("href","ftp://"+data.IP+file);
                   $("#download_log").attr("href","ftp://"+data.IP+"/robot/"+data.date+"/"+"build.log");
                   $("#download_file").show(200)
                   enableBtn()
                   $("#down_kernel").show(200)
                   //hide the compiling state and who is compiling
                   $("#compiling_state_"+data.cpus).hide();
                   $("#"+data.cpus+"_compiling").hide()
                    pulllog()
                }else if(data.success==0){
                    alert("编译失败")
                    $("#download_log").attr("href","ftp://"+data.IP+"/robot/build.log")
                     enableBtn()
                }
            }
        });
    });


    //将除停止编译外的按钮禁用,并且显示出停止编译的按钮
    function disableBtn(){
        $("#cpus button").attr("disabled","disabled");
        $("#cpus button").addClass("disabled");

        $("#version button").attr("disabled","disabled");
        $("#version button").addClass("disabled");

        $("#branch button").attr("disabled","disabled");
        $("#branch button").addClass("disabled");

        $("#file_select_btn").attr("disabled","disabled");
        $("#file_select_btn").addClass("disabled");

        $("#start_compile_btn").attr("disabled","disabled");
        $("#start_compile_btn").addClass("disabled");

     //   $(".navbar-nav a").attr("disabled","disabled");
     //   $(".navbar-nav a").addClass("disabled");

        $("#stop_compile_btn").show(200);
    }

    //点击停止编译的按钮
    $("#stop_compile_btn").click(function(){
        $("#compiling_user").hide(200);
        var cpus = $("#cpus button").attr("value");

        //Hides the state and who is compiling
        $("#compiling_state_"+cpus).hide(200)
        if (cpus == "x86") {
            $("#x86_compiling").hide();
        } else if (cpus == "arm") {
            $("#arm_compiling").hide();
        } else if (cpus == "mips") {
            $("#mips_compiling").hide();
        }
        isCompile = false;
        $.ajax({
           url:"stop_compile",
           type:"GET",
           data:{"cpus":cpus},
           dataType:"json",
           success:function(data){
               $("#download_log").attr("href","ftp://"+data.IP+"/robot/build.log")
           }
        });
        enableBtn()
    });

    //将除停止编译以外的按钮都恢复，并且隐藏掉停止编译的按钮
    function enableBtn(){
        $("#cpus button").removeAttr("disabled");
        $("#cpus button").removeClass("disabled");

        $("#version button").removeAttr("disabled");
        $("#version button").removeClass("disabled");

        $("#branch button").removeAttr("disabled");
        $("#branch button").removeClass("disabled");

        $("#file_select_btn").removeAttr("disabled");
        $("#file_select_btn").removeClass("disabled");

        $("#start_compile_btn").removeAttr("disabled");
        $("#start_compile_btn").removeClass("disabled");

        $(".navbar-nav a").removeAttr("disabled");
        $(".navbar-nav a").removeClass("disabled");

        $("#stop_compile_btn").hide(200);
        //显示日志打印
        $("#download_file").show(200)
        $("#down_kernel").hide()
    }



});

//刷新页面后，会去获取当前正在编译的用户
window.onload=function(){
    //Displays the current state of user , such as compile , queue
    $.ajax({
       url:"user_state",
       type:"GET",
       dataType:"json",
       data:{"username":$("#user_name").attr("value")},
       success:function(data){
           if(data.compile_cpus!=null){
               $.each(data.compile_cpus,function(infoIndex,info){
                   $("#compiling_state_"+info).show(100)
                   $("#compiling_state_"+info).attr("href","compile_page?cpus="+info)
               });
           }
       }
    });
    //显示三台机器是否有人正在编译
    $.ajax({
        url:"is_user_compile",
        type:"GET",
        dataType:"json",
        success:function(data){
            if(!$.isEmptyObject(data.x86_compiling_message)) {
                $("#user_compiling").show(200)
                $("#x86_compiling").attr("user",data.x86_compiling_message.user)
                $("#x86_compiling").text(data.x86_compiling_message.user+":正在编译x86")
                $("#x86_compiling").show(100)
            }
            if(!$.isEmptyObject(data.arm_compiling_message)){
                $("#user_compiling").show(200)
                $("#arm_compiling").attr("user",data.arm_compiling_message.user)
                $("#arm_compiling").text(data.arm_compiling_message.user+":正在编译arm")
                $("#arm_compiling").show(100)
            }
            if(!$.isEmptyObject(data.mips_compiling_message)){
                $("#user_compiling").show(200)
                $("#mips_compiling").attr("user",data.mips_compiling_message.user)
                $("#mips_compiling").text(data.mips_compiling_message.user+":正在编译mips")
                $("#mips_compiling").show(100)
            }
        }
    });
}

</script>
</html>