<html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>The Linux Kernel Archives</title>
    <link href="{% static 'compilekernel/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'compilekernel/js/jquery.js' %}" ></script>
    <script src="{% static 'compilekernel/bootstrap-3.3.7-dist/js/bootstrap.min.js' %}" ></script>
</head>
<body>
<div id="log_message">
    <textarea id="my" rows="15" cols="100">

    </textarea>
</div>
</body>
<script>

    var nu = 0;
     var timer = setInterval(function(){
            var obj = document.getElementById("my");
            $.ajax({
            url:"pulllog",
            data:{"nu":nu},
            type:"GET",
            dataType:"json",
            success:function(data){
                $.each(data.log,function(infoIndex,info){
                    obj.scrollTop = obj.scrollHeight
                    $("#log_message textarea").append(info+"\n");
                });
                nu = data.nu;
            }
        });

        },500)
</script>
</html>
